@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron border border-danger">
	<h1 class="text-center">ShadeTree Insurance Exchange</h1>
	<p class="lead text-center">Get a free quote today</p>
</div>

<h2 class="text-center">Please fill out all of the following information to get a quote instantly!</h2>
<br />
<div class="no-gutters mx-auto shadow bg-primary rounded border border-danger center-block">

	@using (Html.BeginForm("CustomerInfo", "Home", FormMethod.Post))
	{
		<div class="form-row">
			<div class="col-lg-3 ">
				<h4 class="text-center special-label-text">First Name</h4>
				<input name="FirstName" type="text" class="form-control" placeholder="First name">
			</div>
			<div class="col-lg-3 align-items-center">
				<h4 class="text-center special-label-text">Last Name</h4>
				<input name="LastName" type="text" class="form-control" placeholder="Last name">
			</div>

			@*E-mail*@
			<div class="col-lg-3">
				<h4 class="text-center special-label-text">Email</h4>
				<input name="EmailAddress" type="email" class="form-control" placeholder="Email">
			</div>

			@*DOB*@
			<div class="col-lg-3">
				<h4 class="text-center special-label-text">Date Of Birth</h4>
				<input name="CustomerDOB" type="date" class="form-control" placeholder="Date of Birth">
			</div>

			@*Car Year*@
			<div class="col-lg-4 mt-3">
				<h4 class="text-center special-label-text">Year of Vehicle</h4>
				<select name="CarYear" class="form-control">
					<option>1990</option>
					<option>1991</option>
					<option>1992</option>
					<option>1993</option>
					<option>1994</option>
					<option>1995</option>
					<option>1996</option>
					<option>1997</option>
					<option>1998</option>
					<option>1999</option>
					<option>2000</option>
					<option>2001</option>
					<option>2002</option>
					<option>2003</option>
					<option>2004</option>
					<option>2005</option>
					<option>2006</option>
					<option>2007</option>
					<option>2008</option>
					<option>2009</option>
					<option>2010</option>
					<option>2011</option>
					<option>2012</option>
					<option>2013</option>
					<option>2014</option>
					<option>2015</option>
					<option>2016</option>
					<option>2017</option>
					<option>2018</option>
					<option>2019</option>
				</select>
			</div>
			<br />
			<br />
			@*Car make and model*@
			<div class="col-lg-4 mt-3">
				<h4 class="text-center special-label-text">Car Make</h4>
				<input name="CarMake" type="text" class="form-control" placeholder="Car Make">
			</div>
			<br />
			<div class="col-lg-4 mt-3">
				<h4 class="text-center special-label-text">Car Model</h4>
				<input name="CarModel" type="text" class="form-control" placeholder="Car Model">
			</div>

			@*DUI*@
			<div class="special-div-center col-lg-4 mt-3">
				<h4 class="text-center special-label-text-form">Have you ever had a DUI?</h4>
				<div class="form-check">
					<input name="DUI" class="form-check-input" type="radio" id="sober" value="false" checked>
					<label class="form-check-label text-center" for="duiNo">
						No
					</label>
				</div>
				<div class="form-check-next">
					<input name="DUI" class="form-check-input" id="duiYes" type="radio" value="true">
					<label class="form-check-label text-center" for="duiYes">
						Yes
					</label>
				</div>
			</div>

			@*Speeding Tickets*@
			<div class="special-div-center col-lg-4 mt-3">
				<h4 class="text-center special-label-text-form-last">How many speeding tickets have you received in the past 5 years?</h4>
				<input name="SpeedingTicket" type="number" min="0" value="0" class="form-control" placeholder="Speeding Tickets">
				<br />
			</div>

			@*Full Coverage Yes or No*@
			<div class="special-div-center col-lg-4 mt-3">
				<h4 class="text-center special-label-text-form-last">Would you like Full Coverage or Liability Only?</h4>
				<div class="form-check">
					<input name="FullCoverage" class="form-check-input" type="radio" id="full" value="true" checked>
					<label class="form-check-label" for="full">
						Full Coverage
					</label>
				</div>
				<div class="form-check-next">
					<input name="FullCoverage" class="form-check-input" id="liability" type="radio" value="false">
					<label class="form-check-label" for="liability">
						Liability Only
					</label>
				</div>
			</div>

			@*Submit Button*@
			<button type="submit" class="btn btn-danger btn-lg btn-block center-block col-8">Submit for your Quote.</button>
		</div>
	}
</div>
